<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="Console">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-4r [%t] %-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender name="File" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${user.home}/.finances/finances.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-4r [%t] %-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.FileAppender" name="download">
        <param value="/home/tim/.finances/download.log" name="file"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-4r [%t] %-5p %c %x - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <!--<logger name="io.github.jonestimd.finance.swing"/>-->
    <!--<logger name="io.github.jonestimd.finance.file.quicken.txf"/>-->
    <logger name="io.github.jonestimd.finance">
        <level value="debug"/>
    </logger>
    <!--<logger name="io.github.jonestimd.finance.stockquote">-->
        <!--<level value="warn"/>-->
    <!--</logger>-->
    <logger name="io.github.jonestimd.finance.file.download">
        <appender-ref ref="download"/>
    </logger>
    <!--<logger name="org.hibernate.SQL"><level value="debug"/></logger>-->
    <!--<logger name="org.hibernate.type"><level value="trace"/></logger>-->
    <logger name="io.github.jonestimd.hibernate"><level value="debug"/></logger>
    <logger name="io.github.jonestimd.swing"><level value="debug"/></logger>
    <root>
        <level value="warn"/>
        <appender-ref ref="Console"/>
    </root>
</log4j:configuration>