<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  {% seo %}
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" type="image/png" href="{{ '/assets/images/finances.png' | relative_url }}">
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="header">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </div>

    <div class="downloads">
      <span><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></span>
    </div>
  </header>

  <div class="wrapper">
    <nav>
      <h3>Contents</h3>
      <ul>
        {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{page.url | relative_url}}">{{page.title}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <section>
      {{ content }}
    </section>
  </div>

  <footer>
    <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small></p>
  </footer>
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
{% if site.google_analytics %}
<script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
{% endif %}
</body>
</html>